# Virtual Environment
venv/
backend/venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
backend/.env

# Uploads
uploads/
backend/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/structure.txt